.bg-primary {
	background-color: #4983fe !important;
}

body {
	background-image: url(../img/interlaced.png);
}

footer {
	position: fixed;
	bottom: 0;
	background-color: #4983fe;
	width: 100vw;
	height: 5px;
}

.pBackground {
	background-color: #adee78;
}
